.header { border-bottom: 1px solid #DDD; }
.header .navbar-menu { position: relative; display: table; background: #FFF; }
.header .navbar-menu .menu-right { margin-top: 15px; }
.header .navbar-menu .menu-right .pull-right { margin-bottom: 10px; }
.header .navbar-menu h2 a .logo { background:url(../img/xinix.png) no-repeat center; text-indent: -6666em; display: block; width: 70px; height: 70px; background-size: contain; float: left; }
.header .navbar-menu h2 a .title-logo { padding-left: 15px; font-size: 32px; line-height: 70px; color: #000; }
.header .navbar-menu .nav-top .pull-right > li { margin-right: 20px; padding: 0; }
.header .navbar-menu .nav-top .pull-right > li:last-child { margin-right: 0px; }
.header .navbar-menu .nav-top .pull-right li a { font-size: 20px; }
.header .navbar-menu .nav-bottom ul.pull-right li:last-child { margin-right: 0; }
.header .navbar-menu .nav-bottom ul .social li a { width: 20px; height: 20px; text-indent: -6666em; display: block; }
.header .navbar-menu .nav-bottom ul .social .facebook a { background:url(../img/fb.png) no-repeat center; background-size: contain; }
.header .navbar-menu .nav-bottom ul .social .twitter a { background:url(../img/tw.png) no-repeat center; background-size: contain; }
